{% extends 'layout.html' %}

{% block title %}{{ title }}{% endblock %}

{% block head %}
{% parent %}

{% endblock %}

{% block content %}
{% parent %}

        <input type="hidden" value= "{{question.question_id}}" id="question_id"/>

        <div id="left-side">

            <div class="question-container" >
                <div id="question-header">
                    <h3>
                        <a href="/questions/{{question.question_id}}">{{question.question_title}}</a>
                    </h3>
                </div>
                <div class="question-body">
                    <p>{{question.question_body}}</p>

                </div>
                <div class="comment-container">
                    <table>
                        <tbody>
                        {% for comment in question.question_comments %}
                        <tr class="comment-body" data-commid="{{ comment.comment_id }}">
                            <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></td>
                            <td>
                                {{comment.comment_body}}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="answers-container">
                <div id="answers-header">
                    <h3>Answers</h3>
                </div>

                {% for answer in question.answers %}
                    <div class="answer-container" data-answerid="{{answer.answer_id}}">
                        <div class="answer-title">
                            {{ answer.creation_date.toLocaleString() }}
                            <div class="btn-group" role="group" style="float: right">
                                <button  type="button" class="btn btn-success btn-xs edit-btn">
                                    <span class="glyphicon glyphicon-edit"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-xs del-btn">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>
                        </div>

                        <div class="answer-body">
                                {{answer.answer_body}}
                        </div>
                        <table>
                            <tbody>
                                {% for comment in answer.answer_comments %}
                                    <tr class="comment-body" data-commid="{{ comment.comment_id }}">
                                        <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></td>
                                        <td>
                                            {{comment.comment_body}}
                                        </td>
                                        <div id="add-comment-form">
                                            <form>
                                                <div class="form-group">
                                                    <label for="ans-body">Body:</label>
                                                    <textarea class="form-control" name="com-body" id="com-body" style="resize: vertical;"></textarea>
                                                </div>
                                                <button type="button" class="btn btn-primary" id="submit-com">Submit comment</button>
                                            </form>
                                        </div>
                                     </tr>

                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                {% endfor %}
                <div id="add-answer-form">
                    <form>
                        <div class="form-group">
                            <label for="ans-title">Title:</label>
                            <input type="text" class="form-control" name="ans-title" id="ans-title">
                        </div>
                        <div class="form-group">
                            <label for="ans-body">Body:</label>
                            <textarea class="form-control" name="ans-body" id="ans-body" style="resize: vertical;"></textarea>
                        </div>
                        <button type="button" class="btn btn-primary" id="submit-ans">Submit Answer</button>
                    </form>
                </div>
                 
            </div>
        	
        </div>
        <div id="right-side">
            <button type="button" class="btn btn-success" id="editQuestion">Edit</button>
            <button type="button" class="btn btn-danger" id="delQuestion">Delete</button>
        </div>

<!-- Bootstrap Model To edit question -->
<div class="modal fade" id="editModal" role="dialog" aria-labelledby="editModal" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                    <span class="sr-only">close</span>
                </button>
                <h4 class="modal-title">Edit Question</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="edit-title">Title:</label>
                        <input type="text" class="form-control" name="edit-title" id="edit-title">
                    </div>
                    <div class="form-group">
                        <label for="edit-body">Body:</label>
                        <textarea class="form-control" name="edit-body" id="edit-body" style="resize: vertical;"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary" id="saveQuestion">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">close</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}